/* Headers*/

.header {
  color: #8282ee;
  font-size: 40px;
  font-weight: bold;
  margin: 10px 25px;
}

.subheader {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-left: 35px;
}

/* Images */

.img-responsive {
  margin: 0 auto;
  width: 100%;
}

/* containers*/

.container-fluid {
  background-color: #333;
  color: #fff;
  font: 15px Arial, Sans-Serif;
  padding: 3% 8%;
}

.box {
  background-color: #555;
}

.favs, .streams {
  padding: 0 25px 25px 25px;
}

.stream, .fav {
  padding: 15px;
}

/* Details for each channel */

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a, a:hover {
  color: #fff;
}

.statusDiv {
  font-size: 18px;
}

.nameDiv, .nameDiv a {
  color: #9282ee;
  font-weight: bold;
}

#streamNameDiv {
  float: left;
}

#streamViewersDiv {
  float: right;
}

#streamGameDiv {
  color: #ccc;
}

/* FA icons */

.fa-eye, .fa-users {
  color: #ffff66;
}

/* Footer */

.footer {
  font-size: 15px;
  margin: 50px 0;
  text-align: center;
}

/*-----MEDIA QUERIES-----*/

@media screen and (max-width: 768px) {
    .container-fluid {
      padding: 2% 3%;
    }
    #streamNameDiv {
      float: none;
    }
    #streamViewersDiv {
      float: left;
    }
}
